discord.py==2.3.2
aiohttp==3.9.5
aiosqlite==0.20.0
colorama==0.4.6
Pillow==10.4.0
python-chess==1.999
pytz==2024.1
lavalink==5.0.1
yarl==1.9.4
psutil==5.9.8
wavelink==3.4.1
gTTS==2.5.1
jishaku==2.5.2
discord-ext-menus
